*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/assets/planets/planet_01.png
/app/src/main/assets/planets/planet_02.png
/app/src/main/assets/planets/planet_03.png
/app/src/main/assets/planets/planet_04.png
